<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/18wpHrBK9v/?mibextid=qi2Omg" style="color: #1877F2;"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/pra_sadd42?igsh=MXBwcGdidWhoMXVyNQ==" style="color: #E1306C;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/prasad-shinde-87a559289/" style="color: #0A66C2;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>